ion-avatar{
    width: 150px;
    height: 140px;
    margin: 0 auto;
   
}

.photo-btn{
    margin: 0 auto;
    bottom: 25px;
    width: 150px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    font-size: 16px;
}

h2{
    margin-bottom: 0;
    margin-top: -5px;
    text-align: center;
}

ion-item{
    --padding-top: 15px;
}

.empty-icon{
    font-size: 140px;
    opacity: 30%;
}

