ion-content{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --pading-top: 20px;
}

ion-item{
    font-size: 14px;
    color: var(--ion-color-light);
    --background: var(--ion-color-primary);

    ion-icon{
        color: var(--ion-color-light);
    }

    &.active {
        color: var(--ion-color-warning);

        ion-icon{
            color:var(--ion-color-warning);
        }
    }
}

ion-col.user-avatar-profile-name {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

ion-col.user-avatar-profile{
  padding: 10px;
}

ion-menu{
    --width: 254px;
    --min-width: 254px;
    outline: none;
}


h4{
    margin-top: 5px;
    font-weight: bold;
}

ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.empty-icon{
    font-size: 100px;
  
}

ion-footer{
    background: var(--ion-color-primary);
}

