<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <app-header title="Menú"></app-header>
<!-- centra el contenido del menu -->
  <ion-content class="ion-text-center">

<!-- muestra si existe foto -->
<ion-avatar>
  <img *ngIf="user()?.image" [src]="user()?.image" />
<!-- si noe xiste muestra un icono -->
  <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
</ion-avatar>
<!-- nombre de usuario para el menu -->
<h4>{{user().name}}</h4>
<!-- menu -->
    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" detail>
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>
    </ion-menu-toggle>

  </ion-content>
<!-- boton de cerrar sesion -->
  <ion-footer class="ion-no-border safe-p-bottom">
    <ion-menu-toggle auto-hide="false">
      <ion-button class="d-flex-center" (click)="signOut()" lines="none">
        <ion-label slot="start" name="log-out-outline">
          Cerrar Sesion</ion-label>
      </ion-button>
    </ion-menu-toggle>
  </ion-footer>

</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>
